body{
  max-height: 100%;
  max-width: 100%;
  font-family: 'Hind Siliguri', sans-serif;
}

.main-wrapper2{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   overflow: hidden;
   position: relative;

  }
  
.coming_soon_2{
  position: relative;
  z-index: 10;
  margin-top: 20px;
}

.main_gif{
  width: 320px;
  height: 320px;
}
header{
  position: fixed;
  width: 100%;
  padding: 40px;
  top: 0;
  left: 0;
}

.descriotion_div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}

.email_input2{
font-family: 'Hind Siliguri', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #171B21;
border: 2px solid #171B21;
border-radius: 4px;
padding: 10px 15px;
outline: none;
max-width: 320px;
width: 100%;
margin: 0 auto;
/* margin-right: 15px; */
/* margin-top: 20px; */

}

.heading2{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #171B21;
  }
  
  .description2{
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 39px;
  text-transform: uppercase;
  color: #171B21;
  margin-top: 15px;
  }
  
  .extraText2{
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
  }

  .email_btn2{
    font-family:'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    }

  .logo{
    width: 120px;
    height: autp;
  }
  


/* Images */

.doctor1{
  width: 200px;
  height: 240px
}

.tools{
  width: 280px;
  height: 130px;
}

.calender{
  width: 143px;
  height: 140px;
}

.cycle{
  width: 237px;
  height: 237px;
}

.technology{
  width: 297px;
  height: 178px;
}

.doller{
  width: 116px;
  height: 85px;
}
.multiple{
  width: 300px;
  height: 180px;
}

.watch{
  width: 150px;
  height: 137px;
}

.letters{
  width: 160px;
  height: 100px;
}

.colour{
  width: 180px;
  height: 120px;
}

.light{
  width: 90px;
  height: 110px;
}

.pen{
  width: 180px;
  height: 150px;
}

.brush{
  width: 100px;
  height: 100px;
}

.idea{
  width: 320px;
  height: 200px;

}

.roller{
  width: 180px;
  height: 200px;

}

.men{
  width: 180px;
  height: 120px;
}

.eye{
  width: 80px;
  height: 70px;
}

/* divs  */

.doctor_div{
  position: absolute;
  top: 10px;
  left: 25%;
}

.pencil_div{
  position: absolute;
  top:0;
}

.tools_div{
  position: absolute;
  top: 0px;
  right: 300px;
  transform: translateX(-135px);
}

.calender_div{
  position: absolute;
  right: 120px;
  top: 100px;
  transform: translate(-250px, 75px);
}

.cycle_div{
  position: absolute;
  top: -8px;
  right: 42px;
}

.technology_div{
  position: absolute;
  right: 30px;
  transform: translateY(-130px);

}

.doller_div{
  position: absolute;
  right: 15%;
  transform: translate(-130px, 25px)
}

.multiple_div{
  position: absolute;
  right: 0;
  transform: translateY(100px);
}

.watch_div{
  position: absolute;
  bottom: 22%;
  right: 11%;
  transform: translate(-115px, 10px);
}

.letters_div{
  position: absolute;
  right: 45px;
  bottom: 100px;
}

.colour_div{
  position: absolute;
  bottom: 0;
  right: 120px;
  transform: translateX(-120px);
}

.light_div{
  position: absolute;
  bottom: 10PX;
  transform: translateX(-130px);
}

.pen_div{
  position: absolute;
  bottom: 0;
  left: 20%;
}

.brush_div{
  position: absolute;
  left: 0px;
  bottom: 79px;

}

.idea_div{
  position: absolute;
    left: 5%;
    bottom: 25%;
}

.roller_div{
  position: absolute;
  left: 20%;
  transform: translateY(-65px);
}

.men_div{
  position: absolute;
  left: 5%;
  transform: translateY(-195px);
}

.eye_div{
  position: absolute;
    bottom: 0px;
    transform: translateX(112px);
}


/* Responsive adjustments */
@media screen and (max-width: 1600px){
  .doctor1{
    width: 190px;
    height: 230px;
  }

  .doctor_div{
    left: 20%;
  }

  .pencil_div {
    transform: translateX(-75px);
  }
}

@media screen and (max-width: 1460px){
  .doctor_div{
    left: 18%;
  }
  .tools{
    width: 240px;
    height: 120px;
  }

  .tools_div{
    right: 17%;
    transform: translateX(-125px);
  }

  .pencil_div {
    transform: translateX(-35px);
  }

  .calender_div{
    transform: translate(-222px, 62px);
  }

  .cycle_div{
    top: -21px;
    right: 41px;
  }

  .pen {
    width: 160px;
    height: 130px;
  }
  .pen_div{
    left:15%
  }
}

@media screen and (max-width : 1399px){
  .doctor_div{
    left: 22%;
  }
  .pencil{
    width: 180px;
    height: 64px;
  }
  
  .pencil_dev{
    transform: translateX(-10px);
  }

  .tools{
    width: 200px;
    height: 100px
  }
  .tools_dev{
    right: 15%;
  }
  .cycle{
    width: 200px;
    height: 210px;
  }
  .cycle_div{
    top: 0px;
    right: 60px;
  }
  .calender{
    width: 115px;
    height: 115px;
  }
  .calender_div{
    transform: translate(-175px, 75px);
  }
  .technology{
    width: 225px;
    height: 137px;
  }
  .technology_div{
    right: 20px;
    transform: translateY(-111px);
  }
  .doller{
    width: 90px;
    height: 73px;
  }
  .doller_div{
    transform: translate(-80px, 12px);
  }
  .multiple {
    width: 250px;
    height: 148px;
  }
  .multiple_div{
    transform: translateY(80px);
  }
  .watch {
    width: 110px;
    height: 110px;
  }
  .watch_div{
    transform: translate(-130px, 0px);
  }
  .letters {
    width: 140px;
    height: 90px;
  }
  .letters_div{
    right: 46px;
    bottom: 110px;
  }
  .email_input2{
    margin-left: 70px;
  }
  .eye {
    width: 85px;
    height: 60px;
  }
  .eye_div{
    transform: translateX(77px);
  }
  .light {
    width: 80px;
    height: 95px;
  }
  .pen {
  width: 130px;
  height: 100px;
  } 
  .brush {
    width: 90px;
    height: 90px;
  }
  .idea {
    width: 275px;
    height: 175px;  
  }
  .idea_div{
    left: 3%;
    bottom: 22%;
  }
  .roller {
    width: 175px;
    height: 190px;
  }
  .roller_div{
    left: 17%;
    transform: translateY(-55px);
  }
  .men {
    width: 153px;
    height: 110px;
  }
  .men_div{
    left: 4%;
    transform: translateY(-182px);
  }
  .doctor1{
    width: 180px;
    height: 205px;
  }
  .extraText2{
    font-size: 18px;
  }
  .descriotion2{
    font-size: 18px
  }
 
}

@media screen and (max-width : 1199px){
  .pencil{
    width: 150px;
    height: 50px;
  }
  
  .pencil_dev{
    transform: translateX(-5px);
  }

  .tools{
    width: 180px;
    height: 85px
  }
  .tools_dev{
    right: 10%;
  }
  .cycle{
    width: 180px;
    height: 190px;
  }
  .cycle_div{
    top: 10px;
    right: 60px;
  }
  .calender{
    width: 90px;
    height: 90px;
  }
  .calender_div{
    transform: translate(-105px, 89px);
  }
  .technology{
    width: 220px;
    height: 110px;
  }
  .technology_div{
    right: 20px;
    transform: translateY(-115px);
  }
  .doller{
    width: 70px;
    height: 63px;
  }
  .doller_div{
    transform: translate(-70px, 15px);
  }
  .multiple {
    width: 200px;
    height: 128px;
  }
  .multiple_div{
    transform: translateY(80px);
  }
  .watch {
    width: 80px;
    height: 80px;
  }
  .watch_div{
    transform: translate(-90px, -20px);
  }
  .letters {
    width: 130px;
    height: 85px;
  }
  .letters_div{
    right: 46px;
    bottom: 110px;
  }
  .colour{
    width: 160px;
    height: 95px;
  }
  .colour_div{
    transform: translateX(-70px);
  }
  .email_input2{
    margin-left: 50px;
  }
  .description2{
    font-size: 18px;
  }
  .extraText2{
    font-size: 18px;
  }
  .eye {
    width: 85px;
    height: 50px;
  }
  .eye_div{
    transform: translateX(50px);
  }
  .light {
    width: 70px;
    height: 90px;
  }
  .pen {
  width: 100px;
  height: 90px;
  } 
  .brush {
    width: 80px;
    height: 80px;
  }
  .idea {
    width: 265px;
    height: 165px;  
  }
  .idea_div{
    left: 3%;
    bottom: 22%;
  }
  .roller {
    width: 165px;
    height: 170px;
  }
  .roller_div{
    left: 14%;
    transform: translateY(-55px);
  }
  .men {
    width: 140px;
    height: 90px;
  }
  .men_div{
    left: 4%;
    transform: translateY(-182px);
  }
  .doctor1{
    width: 150px;
    height: 160px;
  }
  .doctor_div{
    top:4%;
    left: 22%;
  }
  .main_gif{
    width: 330px;
    height: 330px;
  }
}

@media screen and (max-width : 991px){
  .logo{
    width: 18%;
    height: 100%;
  }
  .doctor1{
    width: 130px;
    height: 140px;
  }
  .doctor_div{
    top:12%;
    left: 20%;
  }
  .pencil{
    width: 110px;
    height: 40px;
  }
  
  .pencil_dev{
    transform: translateX(-95px);
  }

  .tools{
    width: 150px;
    height: 65px
  }
  .tools_div{
    right: 9%;
  }
  .cycle{
    width: 150px;
    height: 150px;
  }
  .cycle_div{
    top: 0;
    right: 35px;
  }
  .calender{
    width: 70px;
    height: 70px;
  }
  .calender_div{
    transform: translate(-59px, 43px);

  }
  .technology{
    width: 200px;
    height: 110px;
  }
  .technology_div{
    right: 12px;
    transform: translateY(-145px);
  }
  .doller{
    width: 70px;
    height: 53px;
  }
  .doller_div{
    transform: translate(-30px, -5px);
  }
  .multiple {
    width: 180px;
    height: 118px;
  }
  .multiple_div{
    transform: translateY(100px);
  }
  .watch {
    width: 80px;
    height: 80px;
  }
  .watch_div{
    transform: translate(-215px, 110px);
  }
  .letters {
    width: 130px;
    height: 85px;
  }
  .letters_div{
    right: 46px;
    bottom: 110px;
  }
  .colour{
    width: 150px;
    height: 90px;
  }
  .colour_div{
    transform: translateX(-10px);
  }
  .email_input2{
    margin-left: 35px;
  }
  .email_btn2 {
    font-size: 16px;
  }
  .eye {
    width: 85px;
    height: 50px;
  }
  .eye_div{
    transform: translateX(20px);
  }
  .light {
    width: 70px;
    height: 90px;
  }
  .light_div {
    position: absolute;
    bottom: 12PX;
    transform: translateX(-94px);
}
  .pen {
  width: 100px;
  height: 90px;
  } 

  .pen_div{
    left: 10%;
  }
  .brush {
    width: 80px;
    height: 80px;
  }
  .brush_div{
    bottom: 90px;
  }
  .idea {
    width: 180px;
    height: 117px; 
  }
  .idea_div{
    left: 0;
    bottom: 26%;
  }
  .roller {
    width: 155px;
    height: 160px;
  }
  .roller_div{
    left: 10%;
    transform: translateY(-40px);
  }
  .men {
    width: 120px;
    height: 85px;
  }
  .men_div{
    left: 2%;
    transform: translateY(-195px);
  }
  
  .main_gif{
    width: 250px;
    height: 250px;
  }
  .heading2 {
    font-size: 35px;
    margin-top: 20px;
  }
  
}

@media screen and (max-width : 767px){
  .logo{
    width: 18%;
    height: 100%;
  }
  .doctor1{
    width: 130px;
    height: 140px;
  }
  .doctor_div{
    top: 0;
    right: -60%;
  }
  .pencil{
    width: 110px;
    height: 40px;
  } 
  
  .pencil_dev{
    top: -10%;
    transform: translateX(-95px);
  }

  .tools{
    width: 150px;
    height: 60px
  }
  .tools_div{
    right: 0;
  }
  .cycle{
    width: 110px;
    height: 120px;
  }
  .cycle_div{
    top: 0;
    left: -8%;
  }
  .calender{
    width: 70px;
    height: 70px;
  }
  .calender_div{
    transform: translate(-45px, 10px);
  }
  .technology{
    width: 170px;
    height: 110px;
  }
  .technology_div{
    left: -66%;
    transform: translateY(-244px);
  }
  .doller{
    width: 60px;
    height: 45px;
  }
  .doller_div{
    bottom: 16%;
    transform: translate(45px, -5px);

  }
  .multiple {
    width: 180px;
    height: 118px;
    transform: rotate(90deg);
  }
  .multiple_div{
    transform: translate(36px,-13px);
  }
  .watch {
    width: 80px;
    height: 80px;
  }
  .watch_div{
    transform: translate(-215px, 110px);
  }
  .letters {
    width: 110px;
    height: 80px;
  }
  .letters_div{
    right: 35px;
    bottom: 16px;
  }
  .colour{
    width: 110px;
    height: 80px;
  }
  .colour_div{
    transform: translateX(-45px);
  }
  .email_input2{
    margin-left: 73px;
    width: 260px;
  }
  .email_btn2 {
    font-size: 16px;
  }
  .description2{
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

  }
  .eye {
    width: 85px;
    height: 50px;
  }
  .eye_div{
    transform: translateX(-45px);
  }
  .light {
    width: 50px;
    height: 70px;
  }
  .light_div {
    position: absolute;
    top: 21%;
    left: 30%;
    transform: translate(-90px,100px);
}
  .pen {
  width: 100px;
  height: 90px;
  } 

  .pen_div{
    left: 15%;
  }
  .brush {
    width: 80px;
    height: 80px;
  }
  .brush_div{
    bottom: 45px;
  }
  .idea {
    width: 150px;
    height: 110px;
  }
  .idea_div{
    left: -18px;
    bottom: 20%;

  }
  .roller {
    width: 120px;
    height: 120px;
  }
  .roller_div{
    left: 0%;
    bottom: 140px;
    transform: translateY(-210px);
  }
  .men {
    width: 120px;
    height: 85px;
  }
  .men_div{
    right: -72%;
    transform: translateY(-180px);
  }
  
  .main_gif{
    width: 250px;
    height: 250px;
  }
  .heading2 {
    font-size: 30px;
    margin-top: 20px;
  }

}

@media screen and (max-width : 575px){
  .diamond_gif{
    margin-top: 20px;
  }
  .logo{
    width : 25%;
    height: 100%;
  }
  .doctor1{
    width: 130px;
    height: 140px;
  }
  .doctor_div{
    top: 0;
    right: -55%;
  }
  .pencil{
    width: 110px;
    height: 40px;
  }
  
  .pencil_dev{
    transform: translateX(-95px);
  }

  .tools{
    width: 150px;
    height: 65px
  }
  .tools_div{
    right: 9%;
  }
  .cycle{
    width: 110px;
    height: 120px;
  }
  .cycle_div{
    top: 0;
    left: 8%;
  }
  .calender{
    width: 0px;
    height: 0px;
  }
  .calender_div{
    transform: translate(-45px, 10px);
  }
  .technology{
    width: 150px;
    height: 90px;
  }
  .technology_div{
    left: -70%;
    transform: translateY(-264px);
  }
  .doller{
    width: 60px;
    height: 45px;
  }
  .doller_div{
    bottom: 16%;
    transform: translate(45px, -5px);

  }
  .multiple {
    width: 170px;
    height: 110px;
  }
  .multiple_div{
    transform: translate(36px,-45px);
  }
  .watch {
    width: 80px;
    height: 80px;
  }
  .watch_div{
    transform: translate(-10px, 179px);
  }
  .letters {
    width: 110px;
    height: 70px;
  }
  .letters_div{
   right: 115px;
    bottom: 95px;

  }
  .colour{
    width: 150px;
    height: 90px;
  }
  .colour_div{
    transform: translateX(-10px);
  }
  .email_input2{
    justify-content: center;
    max-width: 215px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
  }
  .email_btn2 {
    margin-top: 10px;
    font-size: 18px;
  }
  .descriotion_div{
    max-width: 260px;
   text-align: center;
   margin:  0 auto;
  }
  .description2{
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .eye {
    width: 85px;
    height: 50px;
  }
  .eye_div{
    transform: translateX(20px);
  }
  .light {
    width: 50px;
    height: 70px;
  }
  .light_div {
    left: 25%;
}
  .pen {
    width: 80px;
    height: 70px;
  } 

  .pen_div{
    left: 24%;
    bottom: 5%;
  }
  .brush {
    width: 80px;
    height: 60px;
  }
  .brush_div{
    bottom: 5px;
  }
  .idea {
    width: 130px;
    height: 90px;
  }
  .idea_div{
    left: -25px;
    bottom: 37%;
  }
  .roller {
    width: 120px;
    height: 120px;
  }
  .roller_div{
    bottom: -102px;
    transform: translateY(-210px);
  }
  .men {
    width: 120px;
    height: 85px;
  }
  .men_div{
    left: 0%;
    transform: translateY(-215px);

  }
  
  .main_gif{
    width: 210px;
    height: 210px;
  }
  .heading2 {
    font-size: 28px;
    margin-top: 0px;
  }
  .extraText2{
    margin-top: -4px;
    font-size: 14px;
  }
  .coming_soon_2{
    margin-bottom: 25%;
  }
}

@media screen and (max-width : 450px){
  .main-wrapper2{
    height: 100%;
    padding-top: 100px;
 }
  .logo{
    width : 34%;
    height: 100%;
  }
  .doctor1{
    width: 109px;
    height: 130px;
  }
  .doctor_div{
    top: 75px;
    right: -60%;
  }
  .pencil{
    width: 110px;
    height: 40px;
  }
  
  .pencil_dev{
    transform: translateX(-95px);
  }

  .tools{
    width: 150px;
    height: 65px
  }
  .tools_div{
    right: 9%;
  }
  .cycle{
    width: 100px;
    height: 100px;
  }
  .cycle_div{
    top: 0px;
    left: 32%;

  }
  .calender{
    width: 70px;
    height: 70px;
  }
  .calender_div{
    transform: translate(-45px, 10px);
  }
  .technology {
    width: 100px;
    height: 60px;
}
  .technology_div{
    left: -60%;
    transform: translateY(-230px);
  }
  .doller{
    width: 0px;
    height: 0px;
  }
  .doller_div{
    bottom: 16%;
    transform: translate(45px, -5px);

  }
  .multiple {
    width: 0px;
    height: 0px;
  }
  .multiple_div{
    transform: translate(36px,-45px);
  }
  .watch {
    width: 0px;
    height: 0px;
  }
  .watch_div{
    transform: translate(-10px, 179px);
  }
  .letters {
    width: 80px;
    height: 60px;
  }
  .letters_div{
    right: 20px;
    bottom: 14px;

  }
  .colour{
    width: 150px;
    height: 90px;
  }
  .colour_div{
    transform: translateX(-10px);
  }
 
  .eye {
    width: 85px;
    height: 50px;
  }
  .eye_div{
    transform: translateX(20px);
  }
  .light {
    width: 40px;
    height: 60px;
  }
  .light_div {
    left: 0;
    transform: translateY(80px);
}
  .pen {
    width: 65px;
    height: 60px
  } 

  .pen_div{
    left: 24%;
    bottom: 0%;
  }
  .brush {
    width: 40px;
    height: 40px;
  }
  .brush_div{
    bottom: 2px;
  }
  .idea {
    width: 0px;
    height: 0px;
  }
  .idea_div{
    left: -25px;
    bottom: 37%;
  }
  .roller {
    width: 80px;
    height: 80px;
  }
  .roller_div{
    /* bottom: -106px; */
    left: 0;
    transform: translateY(-260px);
  }
  .men {
    width: 0px;
    height: 0px;
  }
  .men_div{
    left: 0%;
    transform: translateY(-243px);

  }
  .main_gif{
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  .coming_soon_2{
    margin-top: 15px;
    margin-bottom: 20%;
  }
  .heading2 {
    font-size: 28px;
  }
  .extraText2{
    font-size: 12px;
  }
  
  .email_input2{
    margin: 0 auto;
  }
  .email_btn2 {
    margin-top: 10px;
    font-size: 18px;
  }
  .descriotion_div{
    max-width: 260px;
   text-align: center;
   margin:  0 auto;
  }
  .description2{
    font-size: 14px;
    line-height : 20px;
    margin-top: 10px;
  }
}