.main_wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.unsubscribe_div{
  margin: 5% auto;
  background-color: white;
  width: 630px;
  height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

}

.unsubscribe_title{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #171B21;
  margin-bottom: 20px;
  margin-top: 20px;
}

.unsubscribe_text{
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;  
}
.resubscribe_text{
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.unsub_img{
  margin-top: 20px;
  height: auto;
  width: auto;
}
.resubscribe_div{
  display: flex;
  justify-content: center;
  gap : 15px;
  margin-top: 30px;
}

.link_sub{
  font-size: 18px;
}
.mobile{
  display: none;
}

@media screen and (max-width: 991px) {
  .unsubscribe_div{
    width: 530px;
    margin-top: 80px;
  }
  .unsubscribe_text{
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {

  .unsubscribe_div{
    width: 400px;
    height: 450px;
  }
  .unsubscribe_title{
    margin-top: 10px;
    font-size: 28px;
  }
  .desktop{
    display : none
  }
  .mobile{
    display: block;
  }
  .unsubscribe_text{
    padding: 10px;
    margin-bottom: 0px;
  }
  .resubscribe_div {
    font-size: 16px;
    margin-top: 0px;
    align-items: baseline;
    margin-bottom: 0px;
  }
  .link_sub{
    font-size: 16px;
  }
  .resubscribe_text{
    font-size: 16px;
  }
}


@media screen and (max-width: 450px) {
  .unsubscribe_div{
    width: 290px;
  }
  .unsubscribe_title{
    font-size: 24px;
  }
  .unsubscribe_text{
    font-size: 14px;
  }
  .resubscribe_text{
    font-size: 14px;
    margin-bottom: 0px
  }
  .link_sub{
    font-size: 14px;
  }
  .resubscribe_div{
    flex-wrap: wrap;
    gap:12px
  }
}
